<section class="u-clearfix u-white u-section-4" id="carousel_708c">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
      <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
      <div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="626" data-image-height="626">
              <img class="u-back-image u-expanded" src="../../assets/section41.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="626" data-image-height="469">
              <img class="u-back-image u-expanded" src="../../assets/section42.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="626" data-image-height="626">
              <img class="u-back-image u-expanded"
                src="../../assets/section46.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="900" data-image-height="900">
              <img class="u-back-image u-expanded" src="../../assets/section44.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-4">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="626" data-image-height="404">
              <img class="u-back-image u-expanded" src="../../assets/section45.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-5">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide" data-image-width="1200" data-image-height="801">
              <img class="u-back-image u-expanded" src="../../assets/section43.jpg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-6">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-align-left u-container-style u-group u-palette-1-base u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-text u-text-1">Our Portfolio</h1>
          <p class="u-text u-text-2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.&nbsp;</p>
          <p class="u-text u-text-3">Images from <a href="https://www.freepik.com/psd/background"
              class="u-active-none u-border-1 u-border-white u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1">Freepik</a>
          </p>
          <a href="https://nicepage.com/k/birthday-html-templates"
            class="u-active-palette-2-light-2 u-btn u-button-style u-custom-font u-font-roboto-condensed u-hover-palette-2-light-2 u-palette-2-base u-text-body-alt-color u-btn-2">learn
            more</a>
        </div>
      </div>
    </div>
  </section>