<div class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__wobble" src="../../assets/styleback/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
      </div> -->
        <app-headerback></app-headerback>
        <app-menu></app-menu>
        <div class="content-wrapper">

        <router-outlet></router-outlet>
        
        </div>
        <div>
        <app-footerback></app-footerback>
      </div>
    </div>
    </div>
    