<h2 mat-dialog-title>Bon Commande N° {{this.mboncommande.nboncommande}} </h2>
<mat-dialog-content >
  <div class="my-4 bordered-table">
    <table mat-table [dataSource]="dataSource" class="w-100">

      <ng-container matColumnDef="cequipement">
        <th mat-header-cell *matHeaderCellDef class="px-3"> Code </th>
        <td mat-cell *matCellDef="let element" class="px-3">
          {{element.cequipement}}
        </td>
      </ng-container>

      <ng-container matColumnDef="libequipement">
        <th mat-header-cell *matHeaderCellDef class="px-3"> Libelle </th>
        <td mat-cell *matCellDef="let element" class="px-3">
          {{element.libequipement}}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef class="px-3"> Quantité </th>
        <td mat-cell *matCellDef="let element" class="px-3">
          {{element.quantite}}
        </td>
      </ng-container>

      <ng-container matColumnDef="prix" >
        <th mat-header-cell *matHeaderCellDef class="px-3"> Prix </th>
        <td mat-cell *matCellDef="let element" class="px-3">
          {{element.prix}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
