<section class="u-align-center-xs u-clearfix u-custom-color-1 u-section-3" src="" id="carousel_8bd4">
  <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
    <img class="u-expanded-width-md u-image u-image-contain u-image-1" src="../../assets/img2.png" data-image-width="150" data-image-height="101">
    <div class="u-align-center-md u-align-center-sm u-align-center-xs u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h1 class="u-text u-text-palette-1-base u-text-1">IT solutions</h1>
        <p class="u-large-text u-text u-text-variant u-text-2">We collaborate with you to create new value through digital transformation. We have hundreds of specialists at your service. </p>
        <p class="u-text u-text-3">Image from <a href="https://www.freepik.com/vectors/cartoon" class="u-active-none u-border-1 u-border-palette-1-base u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" target="_blank">Freepik</a>
        </p>
        <a href="https://nicepage.com/c/food-restaurant-website-templates" class="u-active-palette-4-base u-border-0 u-btn u-btn-round u-button-style u-custom-font u-font-raleway u-hover-palette-4-base u-palette-1-base u-radius-50 u-text-body-alt-color u-btn-2">learn more</a>
      </div>
    </div>
  </div>
</section>