<section
  class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-palette-2-base u-section-2"
  id="carousel_267e">
  <div
    class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
    <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <h2 class="u-text u-text-1">Data Visualization</h2>
              <img
                src="../../assets/img1.jpg"
                alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="150"
                data-image-height="99">
              <p class="u-text u-text-body-alt-color u-text-2">Image from&nbsp;<b>
                  <a href="https://www.freepik.com/vectors/computer"
                    class="u-border-1 u-border-white u-btn u-button-link u-button-style u-none u-text-body-alt-color u-btn-1"
                    target="_blank">Freepik</a></b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <h3 class="u-text u-text-3">01. goals</h3>
            <p class="u-text u-text-4">Sample text. Click to select the text box. Click again or double click to start
              editing the text.</p>
            <a href="https://nicepage.com/joomla-templates"
              class="u-active-none u-border-2 u-border-white u-btn u-button-style u-hover-none u-none u-text-active-palette-2-light-3 u-text-body-alt-color u-text-hover-palette-3-light-3 u-btn-2">more</a>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <h3 class="u-text u-text-5">02. strategy</h3>
            <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double click to start
              editing the text.</p>
            <a href="https://nicepage.com/c/contacts-website-templates"
              class="u-active-none u-border-2 u-border-white u-btn u-button-style u-hover-none u-none u-text-active-palette-2-light-3 u-text-body-alt-color u-text-hover-palette-3-light-3 u-btn-3">more<span
                class="u-text-body-alt-color"></span>
              <span class="u-text-body-alt-color"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
